body {
    background: #0e0e10;
    color: #fff;
    font-family: "Segoe UI", sans-serif;
}

.sidebar {
    background: #111;
}

.brand {
    letter-spacing: 2px;
}

.nav-link {
    color: #aaa;
    margin-bottom: 12px;
}

.nav-link.active,
.nav-link:hover {
    color: #1db954;
}

.main-content {
    background: #0e0e10;
}

/* Search */
.search-box {
    background: #1a1a1a;
    padding: 8px 15px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-box input {
    background: none;
    border: none;
    color: #fff;
    outline: none;
}

.profile-img {
    border-radius: 50%;
}

/* Album */
.album-card {
    background: #1a1a1a;
    padding: 15px;
    border-radius: 15px;
    transition: 0.3s;
}

.album-card:hover {
    transform: translateY(-5px);
}

.album-card img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 10px;
}

.album-card p {
    color: #aaa;
    font-size: 14px;
}

/* Mini Player */
.mini-player {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #111;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.controls i {
    font-size: 22px;
    margin: 0 10px;
}

.play {
    color: #1db954;
    font-size: 30px;
}

.volume {
    display: flex;
    align-items: center;
    gap: 10px;
}

.bar {
    width: 80px;
    height: 4px;
    background: #1db954;
}
